#titulo{
  background-color: #212121;
}
 #conteudo{
  background-color: #323232;
 }
 #rodape{
  background-color: #212121;
 }

 h1{
  font-family: "Montserrat";
  color: white;
  font-size: 70px;
  padding-top: 25%;
 }
 h3{
   font-family: "Montserrat";
   color: white;
   padding-bottom: 20%;
 }
 p{
   color: white;
   font-family: "Open-Sans";
   font-size: 20px;
 }
 .grid-item01, .grid-item02{
   text-align: center;
 }
 .imagemCapa{
   width: 40%;
   padding-top: 10%;
 }
 .fa-brands{
   color: white;
   text-decoration: none;
 }
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.container-conteudo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.rodape-container{
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}
.me{
  text-align:  center;
  padding: 3% 2%;
  font-family: "Montserrat";
  color: white;
  font-size: 80px;
}
.esquerda{
  text-align: center;
}
.pcimg{
  text-align: center;
  padding: 3%;
  width: 600px;
}
.descricao{
  padding: 0 3%;
  text-align: left;
  font-family: "Montserrat";
}
.photo{
  text-align: center;
  font-family: "Montserrat";
  padding: 3% 0 0;
}
.phdesc{
  text-align: center;
  font-family: "OpenSans";
}
.item-img{
  width: 400px;
  object-fit: cover;
}

.linked:hover{
  color: #0072b1;
}
.git:hover{
  color: #000000;
}
.insta:hover{
  color: #c13584;
}
@media (max-width: 1216px){
  .descricao{
    padding: 5% 3%;
    text-align: center;
    font-family: "Montserrat";

  }
}
